* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'helvetica', sans-serif;
}

.app {
  background-image: url('./assets/default.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.clear {
  background-image: url('./assets/clear.jpg');
}

.app.cloudy {
  background-image: url('./assets/cloudy.jpg');
}

.app.rain {
  background-image: url('./assets/rain.jpg');
}

.app.snow {
  background-image: url('./assets/snow.jpg');
}

.app.sunny {
  background-image: url('./assets/sunny.jpg');
}

.app.mist {
  background-image: url('./assets/mist.jpg')
}

.app.fog {
  background-image: url('./assets/fog.jpg')
}

.app.smoke {
  background-image: url('./assets/smoke.jpg')
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 200px;
  text-align: center;
}

.search-box {
  width: 100%;
  margin: 0 0 10px;
  
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 16px 16px;
  margin-top: -200px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 21px;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  color: #FFF;
  font-size: 102px;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 16px;
  padding: 15px 25px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 3px 6px rgba(0, 0, 0, 0.5);
  font-weight: 600;
;}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.cover {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #FFF;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 44%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.github {
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px 16px 16px 16px;
}

